[MASTER]
init-hook='import sys; sys.path.append("tests/pylint")'
load-plugins=py2_compat

[BASIC]
good-names=i,j,k,n,x,y,ex,Run,_,fm,ui,fg,bg
bad-names=foo,baz,toto,tutu,tata

[DESIGN]
max-args=6
max-branches=16

[FORMAT]
max-line-length = 99
enable=no-absolute-import,old-division
disable=cyclic-import,duplicate-code,fixme,import-outside-toplevel,locally-disabled,locally-enabled,missing-docstring,no-else-break,no-else-continue,no-else-raise,no-else-return,raise-missing-from,redefined-variable-type,stop-iteration-return,super-with-arguments,useless-object-inheritance

[TYPECHECK]
ignored-classes=ranger.core.actions.Actions
