[BASIC]
good-names=i,j,k,n,ex,Run,_,fm,ui,fg,bg
class-rgx=[a-z][a-z0-9_]{1,30}$

[FORMAT]
max-line-length = 99
max-module-lines=3000
disable=locally-disabled,locally-enabled,missing-docstring,duplicate-code,fixme
