[BASIC]
good-names=i,j,k,n,ex,Run,_,fm,ui,fg,bg
class-rgx=[a-z][a-z0-9_]{1,30}$

[FORMAT]
max-line-length = 99
max-module-lines=3000
disable=consider-using-f-string,duplicate-code,fixme,import-outside-toplevel,locally-disabled,missing-docstring,no-else-return,super-with-arguments,superfluous-parens
