name: Pylint, PEP8 and Pytest

on:
  push:
    paths:
      - '.github/workflows/pylint.yml'
      - '**.py'
      - 'requirements.txt'

jobs:
  test_pylint:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.x]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with Flake8 and Pylint, test with Pytest
      run: |
        make test_flake8 test_pylint test_pytest
