name: PEP8 and tests

on:
  push:
    paths:
      - '.github/workflows/python.yml'
      - '**.py'
  pull_request:
    paths:
      - '.github/workflows/python.yml'
      - '**.py'

jobs:
  test_py:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [2.7, 3.7, 3.x]
    env:
      TERM: dumb
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # We need to ignore PyLint because we can't install the one we need for
        # Python 2.7 and 3.5
        pip install -r <(grep -v pylint requirements.txt)
    - name: Flake8 and test
      run: |
        make test_flake8 test_doctest test_other
